@{
   
}

<div class="jumbotron p-5 mb-3 mt-1" style="background-color:#f8f9fa">
	<div class="container">
		<h1 class="display-3 fw-bold"style="color:orange">İHALE ARTIK ÇOK KOLAY!</h1>
		<p class="fw-bold">This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
		<p><a class="btn btn-dark btn-lg" href ="/Auth/Login" style="color:orange"role="button">İhaleye katılmak için hemen tıkla &raquo;</a></p>
	</div>
</div>

<div class="container mb-4">
	<div class="row ml-3">
		<div class="col-md-6 mt-auto mb-auto">
			<div class="row mb-2" style="border-radius:15px;" >
				<div class="col-md-4">
					<img src="/images/eksper.jpg" width="100%"style="border-radius:15px;" />
				</div>
				<div class="col-md-7" >
					<h5>Hızlı Teslim</h5>
					<p>Döküman işlemleri bittikten hemen sonra aracınızı hızlı bir şekilde teslim alabilirsiniz</p>
				</div>
			</div>
			<div class="row mb-2 p-1" style="border-radius:15px;">
				<div class=" col-md-4" >
					<img src="/images/tamir.jpg"width="100%"style="border-radius:15px"/>
				</div>
				<div class="col-md-7">
					<h5>Ekspertiz Raporu İnceleme</h5>
					<p>Araçların ilgili dökümanlarını sistemden inceleyebilirsiniz.Anlaşmalı olduğumuz ekspertiz servisleriyle yapacağınız
						işlemlerde üyelerimize %10 'a varan indirim mevcuttur'</p>
				</div>
			</div>
			<div class="row">
				<div class=" col-md-4" >
					<img src="/images/hasar.jpg" width="100%"style="border-radius:15px; "/>
				</div>
				<div class="col-md-7" >
					<h5>Aracın Detaylı Görüntüleri</h5>
					<p>Aracın tüm ksıımlarına ait detaylı fotoğrafları inceleyebilirsiniz. Böylece aklınızda en ufak bir sorun kalmadan alım işlemini gerçekleştirebilirsiniz.</p>
				</div>
			</div>
		</div>
		<div class="col-md-6" >
			<img src="~/images/car1.png"width="100%" />
		</div>
	</div>
</div>

<div class="container">
	<!-- Example row of columns -->
	<div class="row">
		<div class="col-md-3 m-auto" style="box-shadow:1px 1px 5px 1px;border-radius:15px">
			<h2 class="text-center">Güvenilir</h2>
			<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
			<p><a class="btn btn-warning" href="#" role="button">Detay&raquo;</a></p>
		</div>
		<div class="col-md-3 m-auto" style="box-shadow:1px 1px 5px 1px;border-radius:15px">
			<h2 class="text-center">Memnuniyet</h2>
			<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
			<p><a class="btn btn-warning" href="#" role="button">Detay&raquo;</a></p>
		</div>
		<div class="col-md-3 m-auto" style="box-shadow:1px 1px 5px 1px;border-radius:15px">
			<h2 class="text-center">Hızlı Destek</h2>
			<p>Donec sed odio dui. Cras justo , dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
			<p><a class="btn btn-warning" href="#" role="button">Detay &raquo;</a></p>
		</div>
	</div>

	
</div>